html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft yahei';
    font-size: 14px;
    color: #333;
    height: 100%;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

/*公共样式*/

.widgets-content {
    padding: 14px;
}

.widgets-row {
    clear: both;
    overflow: visible;
    min-height: 30px;
}

.widgets-row p.name {
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    width: 58px;
    text-align: right;
}

.widgets-row p.name sub {
    vertical-align: baseline;
    color: #f00;
    font-size: 14px;
    margin-right: 2px;
}

.widgets-row div.content {
    float: right;
    width: 84%;
    min-height: 30px;
    position: relative;
    margin-bottom: 14px;
}

.widgets-row div.content .select {
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #333;
}

.widgets-row div.content input {
    display: block;
    width: 96%;
    padding: 0 2%;
    height: 30px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.widgets-row div.content input:hover {
    border-color: #3b8fc4;
}

.widgets-row div.content .btn-add,
.widgets-row div.content .btn-search {
    color: #3b8fc4;
    width: 30px;
    position: absolute;
    right: -1px;
    top: 1px;
    bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.widgets-row div.content .btn-add {
    background-image: url(../images/add_blue.png);
    background-repeat: no-repeat;
    background-position: center;
}

.widgets-row div.content .btn-search {
    background-image: url(../images/searchkey_blue.png);
    background-repeat: no-repeat;
    background-position: center;
}

.widgets-row div.content .btn-add:hover,
.widgets-row div.content .btn-search:hover {
    background-color: #e6e6e6;
}

.widgets-row div.content .btn-accident {
    float: right;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 2px;
    cursor: pointer;
}

.widgets-row div.content .btn-accident:hover {
    background-color: #e6e6e6;
    border-color: #d2d2d2;
}

.widgets-button {
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.widgets-button span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 2px;
    cursor: pointer;
}

.widgets-button span:hover {
    background-color: #e6e6e6;
    border-color: #d2d2d2;
}

.widgets-button span.print-btn {
    background-image: url(../images/print_blue.png);
    padding-left: 37px;
}

.widgets-button span.accident-btn {
    background-image: url(../images/accident_blue.png);
    padding-left: 37px;
}

.widgets-button span.delete-btn {
    background-image: url(../images/delete2_blue.png);
    padding-left: 37px;
}

.widgets-button span.searchpath-btn {
    background-image: url(../images/searchpath_blue.png);
    padding-left: 37px;
}

.widgets-button span.location-btn {
    background-image: url(../images/location_blue.png);
    padding-left: 35px;
}

.widgets-button span.disabled {
    background-color: #f1f1f1 !important;
    cursor: not-allowed !important;
}

.widgets-button span.search-btn {
    background-image: url(../images/searchkey_blue.png);
    padding-left: 32px;
}

.widgets-row .prompt-word {
    line-height: 18px;
    font-size: 13px;
    padding: 5px 0;
    text-align: right;
    color: #8a6d3b;
}

.widgets-row .prompt-word span.checkbox {
    cursor: pointer;
    padding-left: 18px;
    background: url(../images/checkbox-no.png) no-repeat left center;
}

.widgets-row .prompt-word span.checked {
    background: url(../images/checkbox-ok.png) no-repeat left center;
}

.widgets-content .widgets-tab {
    border-left: 1px solid #ddd;
    height: 31px;
}

.widgets-content .widgets-tab p {
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0px 12px;
    font-size: 14px;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-left: none;
    border-bottom: none;
    color: #333;
    cursor: pointer;
}

.widgets-content .widgets-tab p:hover {
    background: #fff;
}

.widgets-content .widgets-tab p sub {
    vertical-align: baseline;
    color: #f00;
    font-size: 14px;
    margin-right: 4px;
}

.widgets-content .widgets-tab p.select {
    border-bottom: 1px solid #fff;
    background: #fff;
}

.widgets-content .widgets-tab-main {
    padding-top: 14px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    margin-bottom: 14px;
}

.widgets-content .widgets-tab-main .widgets-tab-content {
    overflow: hidden;
}

.widgets-content .widgets-tab-main .widgets-tab-content .widgets-button {
    text-align: center;
    margin-bottom: 14px;
}

/*打印*/

/*书签*/

.widgets-bookmark .widgets-row div.content {
    width: 100%;
}

.widgets-bookmark .list-bookmark {
    max-height: 300px;
    overflow-y: auto;
}

.widgets-bookmark .list-bookmark li {
    padding: 5px 35px 5px 40px;
    border: 1px solid #E4E4E4;
    border-top-color: #fff;
    line-height: 20px;
    background: url(../images/book.png) no-repeat 10px center;
    position: relative;
}

.widgets-bookmark .list-bookmark li:hover {
    background-color: #f7f7f7;
    border-top-color: #f7f7f7;
}

.widgets-bookmark .list-bookmark li p {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.widgets-bookmark .list-bookmark li span {
    display: block;
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.widgets-bookmark .list-bookmark li .delete-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(../images/delete.png) no-repeat center;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    cursor: pointer;
}

.widgets-bookmark .list-bookmark li:first-child {
    border-top-color: #E4E4E4;
}

/*事故定位*/

.widgets-accident .widgets-row p.name {
    width: 70px;
}

.widgets-accident .widgets-row div.content {
    width: 81%;
}

.widgets-accident .widgets-row div.content input {
    float: left;
    width: 77%;
}

/*路径规划*/

.widgets-path {
}

.widgets-path .widgets-row p.name {
    width: 81px;
}

.widgets-path .widgets-row div.content {
    float: left;
    width: 73%;
}

/*关键字查询*/

.widgets-keyword {
    padding-bottom: 0;
}

.widgets-keyword .widgets-row .prompt-word {
    text-align: left;
}

.widgets-keyword .widgets-row div.content {
    width: 100%;
}

.widgets-keyword .list-title,
.widgets-circum .list-title {
    overflow: hidden;
    border-bottom: 1px solid #E4E4E4;
    padding: 10px 0;
}

.widgets-keyword .list-title p,
.widgets-circum .list-title p {
    float: left;
    font-size: 13px;
    color: #333;
    cursor: pointer;
}

.widgets-keyword .list-title p.select,
.widgets-circum .list-title p.select {
    font-weight: bold;
}

.widgets-keyword .list-keyword,
.widgets-circum .list-keyword {
    max-height: 215px;
    overflow-y: auto;
}

.widgets-keyword .list-keyword ul,
.widgets-circum .list-keyword ul {
}

.widgets-keyword .list-keyword li,
.widgets-circum .list-keyword li {
    overflow: hidden;
    border-bottom: 1px solid #E4E4E4;
    padding: 9px 0;
}

.widgets-keyword .list-keyword li img,
.widgets-circum .list-keyword li img {
    width: 25px;
    vertical-align: -4px;
    float: left;
    margin-right: 5px;
}

.widgets-keyword .list-keyword li p.listname,
.widgets-circum .list-keyword li p.listname {
    float: left;
    margin: 0;
    line-height: 25px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 78%;
}

.widgets-keyword .list-keyword li p.listname a,
.widgets-circum .list-keyword li p.listname a {
    cursor: pointer;
}

.widgets-keyword .list-keyword li p.listname a:hover,
.widgets-circum .list-keyword li p.listname a:hover {
    color: #3b8fc4;
}

.widgets-keyword .list-keyword li a.listdetails,
.widgets-circum .list-keyword li a.listdetails {
    display: block;
    float: right;
    font-size: 13px;
    text-align: center;
    color: #666;
    cursor: pointer;
    line-height: 25px;
    padding-right: 5px;
}

.widgets-keyword .list-keyword li a.listdetails:hover,
.widgets-circum .list-keyword li a.listdetails:hover {
    color: #3b8fc4;
}

/*图层切换*/

.widgets-layer {
}

.widgets-layer .widgets-row {
    position: relative;
    z-index: 1;
}

.widgets-layer-title {
    border-bottom: 1px solid #E4E4E4;
    height: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    clear: both;
}

.layer-alert {
    float: right;
    width: 30px;
    height: 20px;
    background: url(../images/layer-list.png) no-repeat center center;
    position: relative;
}

.layer-alert .btn {
    height: 20px;
    cursor: pointer;
}

.layer-alert .layer-alert-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    width: 147px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 2px rgba(177, 177, 177, 0.5);
    border: 1px solid #3b8fc4;
}

.layer-alert .layer-alert-menu .menu-item {
    font-size: 12px;
    color: #333;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    cursor: pointer;
}

.layer-alert .layer-alert-menu .menu-item:hover {
    background-color: #f3f3f3;
}

.layer-alert .layer-alert-menu .menu-item.dissable {
    opacity: 0.4;
}

.layer-alert .layer-alert-menu .menu-line {
    border-bottom: 1px solid #d7dbde !important;
}

.layer-alert .layer-alert-opacity {
    position: absolute;
    right: 2px;
    top: 28px;
    width: 220px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 2px rgba(177, 177, 177, 0.5);
    border: 1px solid #3b8fc4;
    height: 80px;
    display: none;
}

.layer-alert-opacity .left {
    float: left;
    margin-left: 5px;
}

.layer-alert-opacity .right {
    float: right;
    margin-right: 5px;
}

.layer-alert-opacity .left,
.layer-alert-opacity .right {
    margin-top: 10px;
    width: 20px;
}

.layer-alert-opacity .left p,
.layer-alert-opacity .right p {
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
}

.layer-alert-opacity .left .opacity-btn,
.layer-alert-opacity .right .opacity-btn {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0;
}

.layer-alert-opacity .right .opacity-btn {
    background: url(../images/add_blue.png) no-repeat center center;
}

.layer-alert-opacity .left .opacity-btn {
    background: url(../images/silderjian.png) no-repeat center center;
}

.layer-alert-opacity .center {
    clear: both;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    line-height: 14px;
}

.layer-alert-opacity .center span {
    color: #6d6e70;
    font-size: 12px;
}

.layer-alert-opacity .center span:first-child {
    float: left;
}

.layer-alert-opacity .center span:last-child {
    float: right;
}

.layer-alert-opacity .scale_panel {
    width: 150px;
    position: absolute;
    left: 35px;
    top: 38px;
}

.layer-alert-opacity .scale span {
    background: url(../images/silder.png) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: -7px;
    cursor: pointer;
}

.layer-alert-opacity .scale {
    background: #E4E4E4;
    width: 150px;
    height: 3px;
    position: relative;
    border-radius: 2px;
}

.layer-alert-opacity .scale .silderbg {
    background: #3b8fc4;
    width: 0px;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px;
}

.layer-alert.active .layer-alert-menu {
    display: block;
}

.list-layer {
    padding: 10px 0;
    height: 20px;
    clear: both;
    position: relative;
}

.list-layer .layer-alert {
    background: url(../images/layer-more.png) no-repeat center center;
}

.list-layer .checkbox {
    cursor: pointer;
    padding-left: 18px;
    background: url(../images/checkbox-no.png) no-repeat left center;
    float: left;
}

.list-layer .checkbox img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: -5px;
    margin-right: 5px;
}

.list-layer:hover {
    background: #f1f1f1;
}

.list-layer .checked {
    background: url(../images/checkbox-ok.png) no-repeat left center;
}

/*周边查找*/

.widgets-circum {
}

.widgets-circum .widgets-row p.name {
    width: 72px;
    text-align: left;
}

.widgets-circum .widgets-row div.content {
    width: 78%;
    text-align: left;
}

.widgets-circum .lump {
    background-color: #fff;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 1px solid #ddd;
    color: #6d6e70;
    border-radius: 3px;
    float: left;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.widgets-circum .lump img {
    width: 16px;
    height: 16px;
    vertical-align: -2px;
}

.widgets-circum .lump.active {
    border-color: #3B8FC4;
}

/**下拉框**/

.analog-select {
    width: 248px;
    position: relative;
}

.analog-select .analog-select-value {
    font-size: 14px;
    color: #333;
    padding: 0 10px;
    padding-right: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff url(../images/select.png) no-repeat 98% center;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.analog-select .analog-select-valueall {
    border: 1px solid #e4e9ef;
    border-top: none;
    position: absolute;
    top: 29px;
    left: 0px;
    right: 0;
    display: none;
    max-height: 190px;
    overflow: hidden;
    overflow-y: auto;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.analog-select .analog-select-valueall p {
    padding: 6px 10px;
    font-size: 13px;
    border-top: 1px solid #e4e9ef;
    background: #f8fdff;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 28px;
    background: #fff url(../images/checkbox-no.png) no-repeat 10px center;
}

.analog-select .analog-select-valueall p.checked {
    background: #fff url(../images/checkbox-ok.png) no-repeat 10px center;
}

.widgets-circum .widgets-row div.content input {
    width: 20%;
    float: left;
}

.widgets-circum .widgets-row div.content .select {
    width: 20%;
    float: left;
    height: 32px;
    margin-left: 5px;
    border-color: #ddd;
}