html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft yahei';
    font-size: 14px;
    color: #333;
    height: 100%;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

/*关键字查询*/

.widgets-content {
    padding: 14px;
    padding-bottom: 0;
}

.widgets-row {
    clear: both;
    overflow: visible;
    min-height: 30px;
}

.widgets-row p.name {
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    width: 58px;
    text-align: right;
}

.widgets-row p.name sub {
    vertical-align: baseline;
    color: #f00;
    font-size: 14px;
    margin-right: 2px;
}

.widgets-row div.content {
    float: right;
    width: 100%;
    min-height: 30px;
    position: relative;
    margin-bottom: 14px;
}

.widgets-row div.content input {
    display: block;
    width: 96%;
    padding: 0 2%;
    height: 30px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.widgets-row div.content input:hover {
    border-color: #3b8fc4;
}

.widgets-row div.content .btn-add,
.widgets-row div.content .btn-search {
    color: #3b8fc4;
    width: 30px;
    position: absolute;
    right: -1px;
    top: 1px;
    bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.widgets-row div.content .btn-search {
    background-image: url(./images/search.png);
    background-repeat: no-repeat;
    background-position: center;
}

.widgets-row div.content .btn-add:hover,
.widgets-row div.content .btn-search:hover {
    background-color: #e6e6e6;
}

.widgets-button {
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.widgets-button span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 2px;
    cursor: pointer;
}

.widgets-button span:hover {
    background-color: #e6e6e6;
    border-color: #d2d2d2;
}

.widgets-button span.disabled {
    background-color: #f1f1f1 !important;
    cursor: not-allowed !important;
}

.widgets-row .prompt-word {
    line-height: 18px;
    font-size: 13px;
    padding: 5px 0;
    text-align: left;
    color: #8a6d3b;
}

/*关键字查询*/

.widgets-keyword .list-title {
    overflow: hidden;
    border-bottom: 1px solid #E4E4E4;
    padding: 10px 0;
}

.widgets-keyword .list-title p {
    float: left;
    font-size: 13px;
    color: #333;
    cursor: pointer;
}

.widgets-keyword .list-title p.select {
    font-weight: bold;
}

.widgets-keyword .list-keyword {
    max-height: 215px;
    overflow-y: auto;
}

.widgets-keyword .list-keyword ul {
}

.widgets-keyword .list-keyword li {
    overflow: hidden;
    border-bottom: 1px solid #E4E4E4;
    padding: 9px 0;
}

.widgets-keyword .list-keyword li img {
    width: 25px;
    vertical-align: -4px;
    float: left;
    margin-right: 5px;
}

.widgets-keyword .list-keyword li p.listname {
    float: left;
    margin: 0;
    line-height: 25px;
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 78%;
}

.widgets-keyword .list-keyword li p.listname a {
    cursor: pointer;
}

.widgets-keyword .list-keyword li p.listname a:hover {
    color: #3b8fc4;
}

.widgets-keyword .list-keyword li a.listdetails {
    display: block;
    float: right;
    font-size: 13px;
    text-align: center;
    color: #666;
    cursor: pointer;
    line-height: 25px;
    padding-right: 5px;
}

.widgets-keyword .list-keyword li a.listdetails:hover {
    color: #3b8fc4;
}