html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft yahei';
    font-size: 14px;
    color: #333;
    height: 100%;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

/*书签*/

.widgets-content {
    padding: 14px;
}

.widgets-row {
    clear: both;
    overflow: visible;
    min-height: 30px;
}

.widgets-row p.name {
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    width: 58px;
    text-align: right;
}

.widgets-row p.name sub {
    vertical-align: baseline;
    color: #f00;
    font-size: 14px;
    margin-right: 2px;
}

.widgets-row div.content {
    float: right;
    width: 100%;
    min-height: 30px;
    position: relative;
    margin-bottom: 14px;
}

.widgets-row div.content .select {
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #333;
}

.widgets-row div.content input {
    display: block;
    width: 96%;
    padding: 0 2%;
    height: 30px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.widgets-row div.content input:hover {
    border-color: #3b8fc4;
}

.widgets-row div.content .btn-add-bookmark {
    color: #3b8fc4;
    width: 30px;
    position: absolute;
    right: -1px;
    top: 1px;
    bottom: 1px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 26px;
    cursor: pointer;
}

.widgets-row div.content .btn-add-bookmark:hover {
    background-color: #e6e6e6;
}

.widgets-bookmark .list-bookmark {
    max-height: 300px;
    overflow-y: auto;
}

.widgets-bookmark .list-bookmark li {
    padding: 5px 35px 5px 40px;
    border: 1px solid #E4E4E4;
    border-top-color: #fff;
    line-height: 20px;
    background: url(./images/book.png) no-repeat 10px center;
    position: relative;
}

.widgets-bookmark .list-bookmark li:hover {
    background-color: #f7f7f7;
    border-top-color: #f7f7f7;
}

.widgets-bookmark .list-bookmark li p {
    font-size: 14px;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.widgets-bookmark .list-bookmark li span {
    display: block;
    font-size: 12px;
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.widgets-bookmark .list-bookmark li .delete-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    background: url(./images/delete.png) no-repeat center;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    cursor: pointer;
}

.widgets-bookmark .list-bookmark li:first-child {
    border-top-color: #E4E4E4;
}