html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft yahei';
    font-size: 14px;
    color: #333;
    height: 100%;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

/*内容样式*/
#milStd{
	padding: 14px;
}
.content-border{
	border: 1px solid #ddd;
    padding: 14px;
    margin-bottom: 14px;
}
.itembox{
	border: 1px dashed #ddd;
	margin: 14px 0;
}
.itembox .name{
	font-weight: bold;
	padding: 0 5px;
}

.img-box{
	border: 1px dotted #ccc; 
	padding: 5px; 
	width: 50px; 
	height: 50px
}

.img-box img{
	font-size: 12px;
	cursor: pointer;
	width: 44px;
	height: 44px;
	cursor: pointer;
}
.img-box img:hover{
	width: 50px;
	height: 50px;
}
.center-border{
	border-bottom: 1px solid #ddd;
    padding-bottom: 14px;
    margin-bottom: 14px;
}
.table-border{
	padding: 10px; 
	background: #fff; 
	border: 1px dashed #ddd; 
	margin: 14px 0;
}
#geomInfoTable{
	line-height: 40px;
}
#geomInfoTable select {
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
}
#geomInfoTable input {
    display: block;
    width: 96%;
    padding: 0 2%;
    height: 30px;
    border: 1px solid #ddd;
    font-size: 14px;
}

#geomInfoTable td:first-child{
	text-align: right;
}





.widgets-button {
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.widgets-button span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 2px;
    cursor: pointer;
}

.widgets-button span:hover {
    background-color: #e6e6e6;
    border-color: #d2d2d2;
}

.widgets-button span.disabled {
    background-color: #f1f1f1 !important;
    cursor: not-allowed !important;
}