html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft yahei';
    font-size: 14px;
    color: #333;
    height: 100%;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

/*态势标绘*/

.widgets-content {
    padding: 14px;
}

.widgets-row {
    clear: both;
    overflow: visible;
    min-height: 30px;
}

.widgets-row p.name {
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    width: 72px;
    text-align: right;
}

.widgets-row div.content {
    float: right;
    width: 77%;
    text-align: left;
    min-height: 30px;
    position: relative;
    margin-bottom: 14px;
}

.widgets-row div.content input {
    display: block;
    width: 96%;
    padding: 0 2%;
    height: 30px;
    border: 1px solid #ddd;
    font-size: 14px;
}

.widgets-buffer .lump {
    background-color: #fff;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border: 1px solid #ddd;
    color: #6d6e70;
    border-radius: 3px;
    float: left;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    overflow: hidden;
}

.widgets-buffer .lump img {
    width: 38px;
    height: 38px;
    margin: -4px 0 0 -4px;
}

.widgets-buffer .lump.active {
    border-color: #3B8FC4;
}

.widgets-button {
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.widgets-button span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 2px;
    cursor: pointer;
}

.widgets-button span:hover {
    background-color: #e6e6e6;
    border-color: #d2d2d2;
}

.widgets-button span.disabled {
    background-color: #f1f1f1 !important;
    cursor: not-allowed !important;
}

.layer-alert-opacity {
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    height: 80px;
    position: relative;
}

.layer-alert-opacity .left {
    float: left;
    margin-left: 5px;
}

.layer-alert-opacity .right {
    float: right;
    margin-right: 5px;
}

.layer-alert-opacity .left,
.layer-alert-opacity .right {
    margin-top: 10px;
    width: 20px;
}

.layer-alert-opacity .left p,
.layer-alert-opacity .right p {
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
}

.layer-alert-opacity .left .opacity-btn,
.layer-alert-opacity .right .opacity-btn {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0;
}

.layer-alert-opacity .right .opacity-btn {
    background: url(./images/add.png) no-repeat center center;
}

.layer-alert-opacity .left .opacity-btn {
    background: url(./images/silderjian.png) no-repeat center center;
}

.layer-alert-opacity .center {
    clear: both;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    line-height: 14px;
}

.layer-alert-opacity .center span {
    color: #6d6e70;
    font-size: 12px;
}

.layer-alert-opacity .center span:first-child {
    float: left;
}

.layer-alert-opacity .center span:last-child {
    float: right;
}

.layer-alert-opacity .scale_panel {
    width: 150px;
    position: absolute;
    left: 35px;
    top: 38px;
}

.layer-alert-opacity .scale span {
    background: url(./images/silder.png) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: -7px;
    cursor: pointer;
}

.layer-alert-opacity .scale {
    background: #E4E4E4;
    width: 150px;
    height: 3px;
    position: relative;
    border-radius: 2px;
}

.layer-alert-opacity .scale .silderbg {
    background: #3b8fc4;
    width: 0px;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px;
}

.widgets-point-show {
    text-align: center;
    margin: 0 auto;
    height: 35px;
}

.widgets-point-show img {
    margin-right: 58px;
    height: 35px;
}

.widgets-point-main {
    display: none;
}

.widgets-point-main .point-list {
    border: 1px solid #ddd;
    overflow: hidden;
    margin-bottom: 14px;
    clear: both;
}

.widgets-point-main .point-img {
    overflow: hidden;
    padding-bottom: 5px;
    max-height: 135px;
    overflow-y: auto;
}

.widgets-point-main .point-img li {
    float: left;
    width: 29px;
    height: 29px;
    padding: 5px;
    text-align: center;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    margin: 5px 0 0 2.5px;
    cursor: pointer;
}

.widgets-point-main .point-img li.active {
    border-color: #3b8fc4;
    background: #f6f6f6;
}

.widgets-point-main .point-img img {
    height: 100%;
}
