html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft yahei';
    font-size: 14px;
    color: #333;
    height: 100%;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

/*图层控制*/

.widgets-content {
    padding: 14px;
}

.widgets-row {
    clear: both;
    overflow: visible;
    min-height: 30px;
}

.widgets-layer {
}

.widgets-layer .widgets-row {
    position: relative;
    z-index: 1;
}

.widgets-layer-title {
    border-bottom: 1px solid #E4E4E4;
    height: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    clear: both;
}

.layer-alert {
    float: right;
    width: 30px;
    height: 20px;
    background: url(./images/layer-list.png) no-repeat center center;
    position: relative;
}

.layer-alert .btn {
    height: 20px;
    cursor: pointer;
}

.layer-alert .layer-alert-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    width: 147px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 2px rgba(177, 177, 177, 0.5);
    border: 1px solid #3b8fc4;
}

.layer-alert .layer-alert-menu .menu-item {
    font-size: 12px;
    color: #333;
    padding: 0 20px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    cursor: pointer;
}

.layer-alert .layer-alert-menu .menu-item:hover {
    background-color: #f3f3f3;
}

.layer-alert .layer-alert-menu .menu-item.dissable {
    opacity: 0.4;
}

.layer-alert .layer-alert-menu .menu-line {
    border-bottom: 1px solid #d7dbde !important;
}

.layer-alert .layer-alert-opacity {
    position: absolute;
    right: 2px;
    top: 28px;
    width: 220px;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 2px rgba(177, 177, 177, 0.5);
    border: 1px solid #3b8fc4;
    height: 80px;
    display: none;
}

.layer-alert-opacity .left {
    float: left;
    margin-left: 5px;
}

.layer-alert-opacity .right {
    float: right;
    margin-right: 5px;
}

.layer-alert-opacity .left,
.layer-alert-opacity .right {
    margin-top: 10px;
    width: 20px;
}

.layer-alert-opacity .left p,
.layer-alert-opacity .right p {
    font-size: 12px;
    color: #999;
    text-align: center;
    margin-bottom: 5px;
    white-space: nowrap;
}

.layer-alert-opacity .left .opacity-btn,
.layer-alert-opacity .right .opacity-btn {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 0;
}

.layer-alert-opacity .right .opacity-btn {
    background: url(./images/add.png) no-repeat center center;
}

.layer-alert-opacity .left .opacity-btn {
    background: url(./images/silderjian.png) no-repeat center center;
}

.layer-alert-opacity .center {
    clear: both;
    width: 150px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    line-height: 14px;
}

.layer-alert-opacity .center span {
    color: #6d6e70;
    font-size: 12px;
}

.layer-alert-opacity .center span:first-child {
    float: left;
}

.layer-alert-opacity .center span:last-child {
    float: right;
}

.layer-alert-opacity .scale_panel {
    width: 150px;
    position: absolute;
    left: 35px;
    top: 38px;
}

.layer-alert-opacity .scale span {
    background: url(./images/silder.png) no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 0px;
    top: -7px;
    cursor: pointer;
}

.layer-alert-opacity .scale {
    background: #E4E4E4;
    width: 150px;
    height: 3px;
    position: relative;
    border-radius: 2px;
}

.layer-alert-opacity .scale .silderbg {
    background: #3b8fc4;
    width: 0px;
    position: absolute;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    border-radius: 2px;
}

.layer-alert.active .layer-alert-menu {
    display: block;
}

.list-layer {
    padding: 10px 0;
    height: 20px;
    clear: both;
    position: relative;
}

.list-layer .layer-alert {
    background: url(./images/layer-more.png) no-repeat center center;
}

.list-layer .checkbox {
    cursor: pointer;
    padding-left: 18px;
    background: url(./images/checkbox-no.png) no-repeat left center;
    float: left;
}

.list-layer .checkbox img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: -5px;
    margin-right: 5px;
}

.list-layer:hover {
    background: #f1f1f1;
}

.list-layer .checked {
    background: url(./images/checkbox-ok.png) no-repeat left center;
}

