html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Microsoft yahei';
    font-size: 14px;
    color: #333;
    height: 100%;
}

p,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

input[readonly]{
	background-color: #f7f7f7 !important;
	cursor: default;
}

/*轨迹查询*/

.widgets-content {
    padding: 14px;
}

.widgets-row {
    clear: both;
    overflow: visible;
    min-height: 30px;
}

.widgets-row p.name {
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 30px;
    width: 81px;
    text-align: right;
}

.widgets-row p.name sub {
    vertical-align: baseline;
    color: #f00;
    font-size: 14px;
    margin-right: 2px;
}

.widgets-row div.content {
    float: left;
    width: 73%;
    min-height: 30px;
    position: relative;
    margin-bottom: 14px;
}

.widgets-row div.content .select {
    width: 100%;
    height: 30px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
}

.widgets-row div.content input {
    display: block;
    width: 96%;
    padding: 0 2%;
    height: 30px;
    border: 1px solid #ddd;
    font-size: 14px;
	float: left;
}
.widgets-row div.content input.time{
	width: 40%;
	background-image: url(images/day.png);
	background-repeat: no-repeat;
	background-position: 95% center;
}
.widgets-row div.content input.time:disabled{
	background-color: #f7f7f7;
}
.widgets-row div.content span.center{
	line-height: 30px;
	padding-left: 2.5%;
}
.widgets-row div.content input.time:last-child{
	float: right;
}
.widgets-row div.content input:hover {
    border-color: #3b8fc4;
}

.widgets-button {
    width: 100%;
    overflow: hidden;
    text-align: right;
}

.widgets-button span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #333;
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 2px;
    cursor: pointer;
}

.widgets-button span:hover {
    background-color: #e6e6e6;
    border-color: #d2d2d2;
}

.widgets-button span.disabled {
    background-color: #f7f7f7 !important;
    cursor: not-allowed !important;
}

.widgets-content .widgets-tab {
    border-left: 1px solid #ddd;
    height: 31px;
}

.widgets-content .widgets-tab p {
    float: left;
    height: 30px;
    line-height: 30px;
    padding: 0px 12px;
    font-size: 14px;
    text-align: center;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-left: none;
    border-bottom: none;
    color: #333;
    cursor: pointer;
}

.widgets-content .widgets-tab p:hover {
    background: #fff;
}

.widgets-content .widgets-tab p sub {
    vertical-align: baseline;
    color: #f00;
    font-size: 14px;
    margin-right: 4px;
}

.widgets-content .widgets-tab p.select {
    border-bottom: 1px solid #fff;
    background: #fff;
}

.widgets-content .widgets-tab-main {
    padding-top: 14px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
    margin-bottom: 14px;
}

.widgets-content .widgets-tab-main .widgets-tab-content {
    overflow: hidden;
}

.widgets-content .widgets-tab-main .widgets-tab-content .widgets-button {
    text-align: center;
    margin-bottom: 14px;
}

.widgets-button span.search-btn {
    background-image: url(./images/search.png);
    padding-left: 32px;
}
